{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'login.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="center">
          <h1>Login</h1>
          <form action="{% url 'chatapp:login' %}" method="POST">
              {% csrf_token %}
              <div class="txt_field">
                  <input type="text" name="username" required>
                  <span></span>
                  <label>Username</label>
              </div>
              <div class="txt_field">
                  <input type="password" name="password" required>
                  <span></span>
                  <label>Password</label>
              </div>
              <div class="pass">Forget Password?</div>
              {% if error %} <p style="color: red; margin-left: 5px">{{ error }}</p> {% endif %}
              <input name="submit" type="Submit" value="Login">
               <div class="signup_link">
                  Not a Member ? <a href="{% url 'chatapp:signup' %}">SignUp</a>
              </div>
          </form>
      </div>
    </div>
  </body>
</html>